<!DOCTYPE html>

<head>
    <meta charest='UTF-8'>
    <title> test </title>   
</head>
<body>
    <h2> Ajax</h2>

    <button type="button" onclick="sendUserInfo()"> SEND USER INFO</button>

    <script>
    function sendUserInfo(){
        let userInfo = {
            'name': 'kao zon',    
        }
        const request = new XMLHttpRequest()
        request.open('POST',   `/processUserInfo/${JSON.stringify(userInfo)}`)
        request.onload = () => {
            const flaskMessage = request.responseText
            console.log(flaskMessage)
        }
        request.send()
    }
    </script>




</body>