body {
  justify-content: center;
  align-content: center;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #6bda70;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
}

#container {
  width: 980px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
  padding-top: 10px;
  font-size: 15px;
  padding-left: 150px;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
}
.day {
  width: 112px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 0px 3px rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}