body {
  justify-content: center;
  align-content: center;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #6cbd58;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
}

#container {
  width: 980px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
  padding-top: 10px;
  font-size: 15px;
  padding-left: 150px;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
}
.day {
  width: 112px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 0px 3px #c5d1ba;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
  
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}