<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

  </head>

<body>   
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header" >Todo App</h1>
        <form class="ui form" action="/add" method="post">
            <div class="field">
              <style>
                .left {
                  position: absolute;
                  top: 10; right: 100px; left:0px; 
                  
                }
                .right {
                    float: right
                    
                }
                .input-group {
                    display: table;
                position: relative;
                  z-index: 2;
                  float: left;
                  width: 100%;
                  margin-bottom: 0;
                  

                    vertical-align: middle;
                }

                .input-group-btn{
                  display: table-cell;
                    width: 1%;
                  white-space: nowrap;
                  vertical-align: middle;
                  
                  
                }
                
                .form-control{
                    display: table-cell;
                    width: 100%;
                    
                }

                .button1 {
                background: grey;
                animation-name: none;
                animation-duration: 999s;
                animation-iteration-count: infinite;
                }
                @keyframes flash {
                0% {
                    background: grey;
                }
                0% {
                    background: grey;
                }
              }

              .button2 {
                background: grey;
                animation-name: none;
                animation-duration: 999s;
                animation-iteration-count: infinite;
                }
                @keyframes flash {
                0% {
                    background: grey;
                }
                0% {
                    background: grey;
                }
              }
            </style>
            <script>

                window.onload = () => {
                const button = document.getElementById('button1');
                button.addEventListener('click', () => {
                    if (button.style['animation-name'] === 'flash') {
                    recognition.stop();
                    button.style['animation-name'] = 'none';
                    } 
                    
                    else {
                    button.style['animation-name'] = 'flash';
                    recognition.start();
                    }
                

                  });
                let p = document.createElement("p");
          
                const recognition = new webkitSpeechRecognition();
                recognition.continuous = true;
                recognition.interimResults = true;
                recognition.onresult = function (event) {
                    let result = '';
                    for (let i = event.resultIndex; i < event.results.length; i++) {
                    result += event.results[i][0].transcript;
                }

                    recognition.addEventListener("result", (e) => {
                    const text = Array.from(e.results)
                        .map((result) => result[0])
                        .map((result) => result.transcript)
                        .join("");

                    if (e.results[0].isFinal) {
                        p = document.createElement("p");
                        //console.log(text)
                        $("#name").val(text); // set the input val to the speech transcript

                    }
                });
                };

                const button2 = document.getElementById('button2');
                button2.addEventListener('click', () => {
                    if (button2.style['animation-name'] === 'flash') {
                    recognition2.stop();
                    button2.style['animation-name'] = 'none';
                    } 
                    
                    else {
                    button2.style['animation-name'] = 'flash';
                    recognition2.start();
                    }
                
                  });
                let p2 = document.createElement("p");

                const recognition2 = new webkitSpeechRecognition();
                recognition2.continuous = true;
                recognition2.interimResults = true;
                recognition2.onresult = function (event) {
                    let result = '';
                    for (let i = event.resultIndex; i < event.results.length; i++) {
                    result += event.results[i][0].transcript;
                }

                
                    recognition2.addEventListener("result", (e) => {
                    const text = Array.from(e.results)
                        .map((result) => result[0])
                        .map((result) => result.transcript)
                        .join("");

                    if (e.results[0].isFinal) {
                        p = document.createElement("p");
                        $("#description").val(text); // set the input val to the speech transcript
                        console.log(text)
                    }
                });
                };
            };
      </script>
          <label>Name</label>
              <div class="input-group">
                <input  type="text" name="name" autocomplete="off" placeholder="Enter Name" id="name" maxlength="80" required>
                <span class="input-group-btn">
                  <a class="ui icon button" id="button1"> <i class="microphone icon"></i></a>
                </span>
              </div>
                <br>
                <br>
                <br>
            <div class="field">
              <label >Description</label>
              <div class="input-group">
                <input  type="text" name="description" autocomplete="off" placeholder="Enter Description" id="description" maxlength="150"required>
                <span class="input-group-btn">
                  <a class="ui icon button" id="button2"> <i class="microphone icon"></i></a>
                </span>
              </div>
                <br>
                <br>
                <br>
                <div class="field">
                  <label >Start Time</label>
                  <div class="ui calendar" id="start">
                    <div class="ui input left icon">
                      <i class="time icon"></i>
                      <input  type="text" name="start" autocomplete="off"  placeholder="Select Time" maxlength="5" required>
                      <script>
                        $('#start').calendar({
                            ampm: false,
                            type: 'time',
                            onChange: function (time, text) {
                              var newValue = text;
                            },
                          });
                        </script>
                    </div>
                </div>
            </form>
                <br>
                <button class="ui brown button" type="submit" >Add</button>
                <a class="ui yellow button" href="/clear" >Clear</a>
        </form>

        <hr>
        {% for todo in todo_list %}
        <div class="ui white segment Change">
        <table class="ui definition table">
          

          </script>

          <body>
            <tr>  
              <td class="one wide column">‏‏‎‎‎ {{todo.id}}</td>
              <td><h4> {{todo.name}} </a></h4></td>
              <td class="two wide column"> <h4> ‎{{todo.start}} </h4></td>
            </tr>
          </body>
        </table>

        <div class="ui compact segment">
          <p>{{todo.description}}</p>
        </div>     
        
        <style>
          .ui.white.segment.Change:hover  { 
            background-color: rgb(250, 250, 250)!important;
            color: rgb(0, 0, 0)!important;
        }

        </style>
            {% if todo.complete == False %}
            <span class="ui gray label" >Status: Not Complete</span> 
            <script>
              complete = false
            </script>
            {% else %}
            <span  class="ui green label" >Status: Completed</span>
            <script>
              complete = true
            </script>
            {% endif %}
            <br>
            <br>
            <a class="ui linkedin button" href="/update/{{ todo.id }}" >Update Status</a>
            <a class="ui google plus  button" href="/delete/{{ todo.id }}"> Remove</a>
            <a class="ui black button" href="{{url_for('edit', todo_id=todo.id)}}"> Edit</a>
          <script>

                // get current miltary time
                var now = new Date();
                var minutes = now.getMinutes();
                var done_minutes = minutes < 10 ? '0' + minutes : minutes;
                var time = [
                  now.getHours(), ':', done_minutes,].join('');
                var userTime = "{{todo.start}}"

                function refreshAt(hours, minutes, seconds) {
                  var now = new Date();
                  var then = new Date();

                  if(now.getHours() > hours ||
                      (now.getHours() == hours && now.getMinutes() > minutes) ||
                      now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
                      then.setDate(now.getDate() + 1);
                  }
                  then.setHours(hours);
                  then.setMinutes(minutes);
                  then.setSeconds(seconds);

                  var timeout = (then.getTime() - now.getTime());
                  setTimeout(function() { window.location.reload(true); }, timeout);
              }

              arr = userTime.split(':');
              userHour = $.trim(arr[0]);
              //console.log(userHour)
              userMin = $.trim(arr[1]);
              //console.log(userMin)
  
            function refreshAt(hours, minutes, seconds) {
              var now = new Date();
              var then = new Date();

              if(now.getHours() > hours ||
                  (now.getHours() == hours && now.getMinutes() > minutes) ||
                  now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
                  then.setDate(now.getDate() + 1);
              }
              then.setHours(hours);
              then.setMinutes(minutes);
              then.setSeconds(seconds);

              var timeout = (then.getTime() - now.getTime());
              setTimeout(function() { window.location.reload(true); }, timeout);
          }

            var name = "{{todo.name}}"
            //console.log(name)
            function showNotification(){
              const notification = new Notification("Todo App",{
                body: "It's time to " + name,
                icon: "{{ url_for('static', filename='img/logo.png') }}"
            })

          notification.onclick = function(event) {
                event.preventDefault(); // prevent the browser from focusing the Notification's tab
                window.open('http://192.168.1.21:5000/', '_blank');
                notification.close();
              }
            }
    
            if (Notification.permission === "granted"){
              //showNotification()
            }
            else if (Notification.permission !== "denied"){
              Notification.requestPermission().then(permission => {
                if (permission ==="granted"){
                  //showNotification()
                }
              })
          }

            refreshAt(userHour,userMin, 0);

            if (complete == false && userTime == time){
              console.log(complete)
              showNotification()
            }
            else {
              //keep waiting
            }

        
        </script>
        
      </div>
    <div>
        {% endfor %}
    </div>
    <script>
      console.log(time)
    </script>
</body>

</html>