<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App - {{labelname.name}}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui borderless stackable top fixed menu">
    <img src="/static/img/logo.png" style="width: 60px; height: 55px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 0px;" >
    <div class="item">
        <a href="/">
        <div class="ui header" style="font-size: 20px;" >
        Todo App
        </div>
    </a>
    </div>
    <a class="ui header item" style="font-weight: 300; font-size: 16px;" href="/today">Today</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/calendar ">Calendar</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/notes/{{current_user.id}}">Notes</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/labels/{{current_user.id}}">Labels</a>
    
    <div class="right menu"  style="padding-right: 10px;" >
        <div class="ui pointing dropdown link item">
            <a style="font-weight: 300; font-size: 16px; color: black;"> ‎‎‎ ‎ ‎‎‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎{{current_user.name}}‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎‎‎‎ ‎ ‎‎</a> 
        <div class="ui  menu">
            <a class="item"  href='/logout '>Logout</a>
            <a class="item"  href='/userInfo '>Account Info</a>
        </div>
        </div>
    </div>  
</div>
    <script> 
        $(document).ready(function(){
        $('.ui.dropdown') .dropdown();
    });
    </script>
    </div>
    <div style="margin-top: 110px;" class="ui container">
        {% for message in get_flashed_messages() %}
        <div class="ui center aligned teal message">
            <i class="close icon"></i>
            <div>
                <h3 style="color: black;">
                    {{message}}
                </h3>
            </div>
            <script>
                $('.message .close')
                    .on('click', function() {
                        $(this)
                        .closest('.message')
                        .transition('fade')
                        ;
                    })
                    ;   
            </script>
        </div>
    {% endfor %}
    <div class="ui vertical segment">
        <h1 class="ui center aligned header" style="font-size: 45px;"> {{labelname.name}} </h1>
    </div>
    {% for todo in todo_list %}
    {% if todo.complete == False %}
    <div class="ui vertical segment">
        <span class='otherss'>
          <a href="/labels/view/{{ labelname.id }}/update/{{ todo.id }}" class="circular ui tiny basic icon button">
            <i class="icon check"></i>
          </a>
          </span>
          <span class='others'>
            <a href="/labels/view/{{ labelname.id }}/delete/{{ todo.id }}" class="circular ui tiny basic icon button">
              <i class="icon remove"></i>
            </a>
            <a href="{{url_for('edit_task', todo_id=todo.id )}}" class="circular ui tiny basic icon button">
              <i class="icon edit"></i>
            </a>
            </span> 
        <div>
      <span style="margin: 0px; font-size: 1.30em; font-weight: bold;">  {{todo.name}} </span>
      {% for labels in labels_list %}
      {% for todolabels in todo.labels.split(',') if todolabels.strip() %}
      {% if todolabels|int == labels.id|int %}
      <span onclick="window.location='/labels/view/{{todolabels}}'" style="color:rgb(20, 114, 255);" > #{{labels.name}}</span>
      {% endif %} 
      {% endfor %}
      {% endfor %}
      {% if todo.start != '' %}
      <p style=" color:rgb(255, 0, 0); font-size:12px; font-weight:bold; margin:0px;">  {{todo.start}} </p>
      {% if todo.description != '' %}
      <p style="color:rgb(38, 38, 38); margin:0px;">            {{todo.description}}</p>
      {% endif %}
      {% endif %}
      {% if todo.description != '' and todo.start == '' %}
      <p style="color:rgb(38, 38, 38); margin:0px;">   {{todo.description}}</p>
      {% endif %}
    </div>   
  </div>
    {% endif %} 
    {% if todo.complete == True %}
    <div class="ui disabled vertical segment">
        <span class='otherss'>
          <a href="/labels/view/{{ labelname.id }}/update/{{ todo.id }}" class="circular ui tiny basic icon button">
            <i class="icon check"></i>
          </a>
          </span>
          <span class='others'>
            <a href="/labels/view/{{ labelname.id }}/delete/{{ todo.id }}" class="circular ui tiny basic icon button">
              <i class="icon remove"></i>
            </a>
            <a href="{{url_for('edit_task', todo_id=todo.id )}}" class="circular ui tiny basic icon button">
              <i class="icon edit"></i>
            </a>
            </span> 
        <div>
        <span style="margin: 0px; font-size: 1.30em; font-weight: bold;">  <s>{{todo.name}}</s></span>
        {% for labels in labels_list %}
        {% for todolabels in todo.labels.split(',') if todolabels.strip() %}
        {% if todolabels|int == labels.id|int %}
        <span onclick="window.location='/labels/view/{{todolabels}}'" style="color:rgb(20, 114, 255);" > <s>#{{labels.name}}</s></span>
        {% endif %} 
        {% endfor %}
        {% endfor %}
        {% if todo.start != '' %}
        <p style=" color:rgb(255, 0, 0); font-size:12px; font-weight:bold; margin:0px;">  <s>{{todo.start}}</s> </p>
        {% if todo.description != '' %}
        <p style="color:rgb(38, 38, 38); margin:0px;">            <s>{{todo.description}}</s></p>
        {% endif %}
        {% endif %}
        {% if todo.description != '' and todo.start == '' %}
        <p style="color:rgb(38, 38, 38); margin:0px;">   <s>{{todo.description}}</s></p>
        {% endif %}
      </div>   

    </div>

    {% endif %} 
    
  {% endfor %}
  <style>
  .ui.white.segment.Change:hover  { 
    background-color: rgb(253, 253, 253)!important;
    color: rgb(0, 0, 0)!important;
  }
  .others { 
    float: right;
  }
  .otherss { 
    float: left;
  }
  </style> 
</div>
<br>
</body>
</html>