<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App - {{labelname.name}}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui borderless stackable top fixed menu">
    <img src="/static/img/logo.png" style="width: 60px; height: 55px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 0px;" >
    <div class="item">
        <a href="/">
        <div class="ui header" style="font-size: 20px;" >
        Todo App
        </div>
    </a>
    </div>
    <a class="ui header item" style="font-weight: 300; font-size: 16px;" href="/today">Today</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/calendar ">Calendar</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/notes/{{current_user.id}}">Notes</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/labels/{{current_user.id}}">Labels</a>
    
    <div class="right menu"  style="padding-right: 10px;" >
        <div class="ui pointing dropdown link item">
            <a style="font-weight: 300; font-size: 16px; color: black;"> ‎‎‎ ‎ ‎‎‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎{{current_user.name}}‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎‎‎‎ ‎ ‎‎</a> 
        <div class="ui  menu">
            <a class="item"  href='/logout '>Logout</a>
            <a class="item"  href='/userInfo '>Account Info</a>
        </div>
        </div>
    </div>  
</div>
    <script> 
        $(document).ready(function(){
        $('.ui.dropdown') .dropdown();
    });
    </script>
    </div>
    <div style="margin-top: 110px;" class="ui container">
        {% for message in get_flashed_messages() %}
        <div class="ui center aligned teal message">
            <i class="close icon"></i>
            <div>
                <h3 style="color: black;">
                    {{message}}
                </h3>
            </div>
            <script>
                $('.message .close')
                    .on('click', function() {
                        $(this)
                        .closest('.message')
                        .transition('fade')
                        ;
                    })
                    ;   
            </script>
        </div>
    {% endfor %}
    <div class="ui vertical segment">
        <h1 class="ui center aligned header" style="font-size: 45px;"> {{labelname.name}} </h1>
    </div>
    <br>
    {% for todo in todo_list %}

    <div class="ui white segment Change">
        <table class="ui celled table">
          <body>
          <tr> 
              {% if todo.start == '' %}
                <td class="thirteen wide column"><h4> ㅤ{{todo.name}} </a></h4></td>
              </tr>
            </body>
          </table>
              {% endif %}
              {% if todo.start != '' %}
              <td class="thirteen wide column"><h4> ㅤ{{todo.name}} ㅤ </a></h4></td>
              <td class="one wide column"> <h5>ㅤ {{todo.start}} </h5></td>
            </tr>
          </body>
        </table>
              {% endif %}
    {% if todo.description != '' %}
    <div class="ui compact segment">
      <p>{{todo.description|safe}}</p>
    </div>      
    {% endif %}
    <style>
      .ui.white.segment.Change:hover  { 
        background-color: rgb(252, 252, 252)!important;
        color: rgb(0, 0, 0)!important;
    }
    </style>        
        {% if todo.complete == False %}
        <span class="ui gray label">Status: Not Complete</span> 
        <script>
          complete = false
        </script>

        
        {% else %}
        <span  class="ui green label" >Status: Completed</span>
        <script>
          complete = true
        </script>
        {% endif %}
        
        <br>
        <br>
        <a class="ui linkedin button" href="/update/{{ todo.id }}"   >Update Status</a>
        <a class="ui google plus  button" href="/delete/{{ todo.id }}"> Remove</a>
        <a class="ui black icon button" href="{{url_for('edit_task', todo_id=todo.id )}}"> <i class="edit icon"></i></a>
      <script>
        function convertTime12To24(time) {
            var hours   = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM    = time.match(/\s(.*)$/)[1];
            if (AMPM === "PM" && hours < 12) hours = hours + 12;
            if (AMPM === "AM" && hours === 12) hours = hours - 12;
            var sHours   = hours.toString();
            var sMinutes = minutes.toString();
            if (hours < 10) sHours = "0" + sHours;
            if (minutes < 10) sMinutes = "0" + sMinutes;
            return (sHours + ":" + sMinutes);
        }
            var time = "{{todo.start}}"
            userTime = convertTime12To24(time)
            // get current miltary time
            var now = new Date();
            var minutes = now.getMinutes();
            var done_minutes = minutes < 10 ? '0' + minutes : minutes;
            var time = [
              now.getHours(), ':', done_minutes,].join('');

            function refreshAt(hours, minutes, seconds) {
              var now = new Date();
              var then = new Date();

              if(now.getHours() > hours ||
                  (now.getHours() == hours && now.getMinutes() > minutes) ||
                  now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
                  then.setDate(now.getDate() + 1);
              }
              then.setHours(hours);
              then.setMinutes(minutes);
              then.setSeconds(seconds);

              var timeout = (then.getTime() - now.getTime());
              setTimeout(function() { window.location.reload(true); }, timeout);
          }

          arr = userTime.split(':');
          userHour = $.trim(arr[0]);
          //console.log(userHour)
          userMin = $.trim(arr[1]);
          //console.log(userMin)

        var name = "{{todo.name}}"
        //console.log(name)
        function showNotification(){
          const notification = new Notification("Todo App",{
            body: "It's time to " + name,
            icon: "{{ url_for('static', filename='img/logo.png') }}"
        })

      notification.onclick = function(event) {
            event.preventDefault(); // prevent the browser from focusing the Notification's tab
            window.open('http://192.168.1.16:5000/today', '_blank');
            notification.close();
          }
        }
        
        if (Notification.permission === "granted"){
          //showNotification()
        }
        else if (Notification.permission !== "denied"){
          Notification.requestPermission().then(permission => {
            if (permission ==="granted"){
              //showNotification()
            }
          })
      }

        refreshAt(userHour,userMin, 0);
      
        if (complete == false && userTime == time){
          showNotification()
          
        }

    </script>

  </div>
<div>
    {% endfor %}
    <br>
</body>
</html>