<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App - Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" href="static/styles/calendar.css">
    
</head>
<body> 
    <style>
        .separator {
        display: flex;
        align-items: center;
        text-align: center;
        }

        .separator::before,
        .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid darkgray;
        }

        .separator:not(:empty)::before {
        margin-right: .25em;
        }

        .separator:not(:empty)::after {
        margin-left: .25em;
        }

    </style>
    <div class="ui borderless stackable top fixed menu">
        <img src="/static/img/logo.png" style="width: 60px; height: 55px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 0px;" >
        <div class="item">
            <a href="/">
                <div class="ui header" style="font-size: 20px;" >
                Todo App
                </div>
            </a>
        </div>
        <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/login">Back to Login</a>
        </div>
    <div style="margin-top: 100px;" class=" aligned ui container">
        {% for message in get_flashed_messages() %}
            <div class="ui center aligned teal message">
                <i class="close icon"></i>
                <div>
                    <h3 style="color: black;">
                        {{message}}
                    </h3>
                </div>
                <script>
                    $('.message .close')
                        .on('click', function() {
                            $(this)
                            .closest('.message')
                            .transition('fade')
                            ;
                        })
                        ;
                </script>
            </div>
        {% endfor %}
        <h1 class="ui center aligned header" style="font-size: 45px;">Reset Password</h1>
            <hr>
            <form method="POST" class="ui form">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label style="font-size: 15px; font-weight: 600; text-align-last: left;">New Password </label>
                    <div class="ui input left icon">
                        {{ form.password_hash(class="ui input", autocomplete="off", placeholder="Password") }}
                        <i class="lock icon"></i>
                    </div>
                </div>
                <br>
                <div class="field">
                    <label style="font-size: 15px; font-weight: 600; text-align-last: left;"> Confirm New Password </label>
                    <div class="ui input left icon">
                        {{ form.password_hash2(class="ui input", autocomplete="off", placeholder="Confirm Password") }}
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class="ui large fluid blue button") }}                
                </div>
        </form> 
</body>

</html>