<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App - Today</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    <script src="/static/jsp/addtask.js"></script>
  </head>

<body>  

  <div class="ui borderless stackable top fixed menu">
    <img src="/static/img/logo.png" style="width: 60px; height: 55px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 0px;" >
    <div class="item">
      <a href="/">
        <div class="ui header" style="font-size: 20px;" >
        Todo App
        </div>
    </a>
    </div>
    <a class="ui header active item" style="font-weight: 300; font-size: 16px;" href="/today">Today</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/calendar ">Calendar</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/notes/{{current_user.id}}">Notes</a>
    <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/labels/{{current_user.id}}">Labels</a>
    <div class="right menu"  style="padding-right: 10px;" >
      <div class="ui pointing dropdown link item">
            <a style="font-weight: 300; font-size: 16px; color: black;"> ‎‎‎ ‎ ‎‎‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎{{current_user.name}}‎‎‎ ‎‎‎ ‎‎‎ ‎ ‎‎‎‎‎ ‎ ‎‎</a> 
        <div class="ui simple menu">
          <a class="item"  href='/logout'>Logout</a>
          <a class="item"  href='/userInfo'>Account Info</a>
        </div>
      </div>
    </div>  
    <script> 
      $(document).ready(function(){
        $('.ui.dropdown') .dropdown();
    });
    </script>

  </div>


    <div style="margin-top: 102px;" class="ui container">
      {% for message in get_flashed_messages() %}
      <div class="ui center aligned teal message">
          <i class="close icon"></i>
          <div>
              <h3 style="color: black;">
                  {{message}}
              </h3>
          </div>
          <script>
              $('.message .close')
                  .on('click', function() {
                      $(this)
                      .closest('.message')
                      .transition('fade')
                      ;
                  })
                  ;
          </script>
      </div>
  {% endfor %}
        <h1 class="ui center aligned header" style="font-size: 45px;">Today</h1>
        <div class="ui vertical segment">
          <h3 style="font-weight: 100; font-size: 25px;"  class="ui center aligned header" id="date" > </h3>
        </div>
        <script>
          var dateObj = new Date()
          var weekday = dateObj.toLocaleString("default", { weekday: "long" })
          const options = { 
            month: 'long', 
            day: 'numeric'
          };
  
          date = weekday + " " + new Date().toLocaleDateString('en-US', options);
          document.getElementById("date").innerText = date;
          </script>
        {% for todo in home_todo_list %}
        {% if todo.poster_id == current_user.id %}
        {% if todo.complete == False %}
        <div class="ui vertical segment">
            <span class='otherss'>
              <a href="/update/{{ todo.id }}" class="circular ui tiny basic icon button">
                <i class="icon check"></i>
              </a>
              </span>
              <span class='others'>
                <a href="/delete/{{ todo.id }}" class="circular ui tiny basic icon button">
                  <i class="icon remove"></i>
                </a>

                <a class="circular ui tiny basic icon button" href="{{url_for('edit_task', todo_id=todo.id )}}">
                  <i class="icon edit"></i>
                </a>

                </span> 
            <div>
          <span style="margin: 0px; font-size: 1.30em; font-weight: bold;">  {{todo.name}} </span>
          {% for labels in labels_list %}
          {% for todolabels in todo.labels.split(',') if todolabels.strip() %}
          {% if todolabels|int == labels.id|int %}
          <span onclick="window.location='/labels/view/{{todolabels}}'" style="color:rgb(20, 114, 255);" > #{{labels.name}}</span>
          {% endif %} 
          {% endfor %}
          {% endfor %}
          {% if todo.start != '' %}
          <p style=" color:rgb(255, 0, 0); font-size:12px; font-weight:bold; margin:0px;">  {{todo.start}} </p>
          {% if todo.description != '' %}
          <p style="color:rgb(38, 38, 38); margin:0px;">            {{todo.description}}</p>
          {% endif %}
          {% endif %}
          {% if todo.description != '' and todo.start == '' %}
          <p style="color:rgb(38, 38, 38); margin:0px;">   {{todo.description}}</p>
          {% endif %}
        </div>
          <script>
            complete = false
          </script>         
      </div>
      {% endif %} 
      {% if todo.complete == True %}
      <div class="ui disabled vertical segment">
          <span class='otherss'>
            <a href="/update/{{ todo.id }}" class="circular ui tiny basic icon button">
              <i class="icon check"></i>
            </a>
            </span>
            <span class='others'>
              <a href="/delete/{{ todo.id }}" class="circular ui tiny basic icon button">
                <i class="icon remove"></i>
              </a>
              <a href="{{url_for('edit_task', todo_id=todo.id )}}" class="circular ui tiny basic icon button">
                <i class="icon edit"></i>
              </a>
              </span> 
          <div>
        <span style="margin: 0px; font-size: 1.30em; font-weight: bold;">  <s>{{todo.name}}</s></span>
        {% for labels in labels_list %}
        {% for todolabels in todo.labels.split(',') if todolabels.strip() %}
        {% if todolabels|int == labels.id|int %}
        <span onclick="window.location='/labels/view/{{todolabels}}'" style="color:rgb(20, 114, 255);" > <s>#{{labels.name}}</s></span>
        {% endif %} 
        {% endfor %}
        {% endfor %}
        {% if todo.start != '' %}
        <p style=" color:rgb(255, 0, 0); font-size:12px; font-weight:bold; margin:0px;">  <s>{{todo.start}}</s> </p>
        {% if todo.description != '' %}
        <p style="color:rgb(38, 38, 38); margin:0px;">            <s>{{todo.description}}</s></p>
        {% endif %}
        {% endif %}
        {% if todo.description != '' and todo.start == '' %}
        <p style="color:rgb(38, 38, 38); margin:0px;">   <s>{{todo.description}}</s></p>
        {% endif %}
      </div>
        <script>
          complete = false
        </script>         
    </div>
    {% endif %} 
        {% endif %}
        {% endfor %}
    <style>
    .ui.white.segment.Change:hover  { 
      background-color: rgb(253, 253, 253)!important;
      color: rgb(0, 0, 0)!important;
    }
    .others { 
      float: right;
    }
    .otherss { 
      float: left;
    }
    </style> 

    <div class="ui container">
      <div class="ui special modal" id='addtaskmodal'>
        <div class="header">
          Add a Task
        </div>
        <div class="content">
          <form class="ui form" id='addtask'>
            <div class="field">
                <div class="ui multiple dropdown">
                  <input type="hidden" name="filters" id="tasklabels">
                  <span class="text" style='color:rgba(159, 159, 159, 0.784);'>Labels<i class="dropdown icon"></i></span>
                  <div class="menu">
                    <input class="search input" style="background: transparent;border: none; outline: none;    resize: none; margin:0%;" type="text" placeholder="Search">
                    <div class="scrolling menu" name="labels">
                      
                      {% for labels in labels_list %}
                      <option class="item" data-value={{labels.id}}>
                        {{labels.name}}
                      </option>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                
                <div class="ui transparent black fluid input">
                      <input type="text" name="name" autocomplete="off" placeholder="Name" id="name" spellcheck="true">
                </div>
              <textarea style='background: transparent; border: none; outline: none; resize: none;' name="description" placeholder="Description" spellcheck="true" autocomplete="off" id='description'></textarea>

              <div class="ui container">
              <div class='otherss'>
              <div class="ui calendar" id="starttime">
                <input class="ui basic button" name="starttime" autocomplete='off'  placeholder='Time' style="width: 100px;" id='time'></input>
              </div>
              
                <script>
                  $('#starttime').calendar({
                      ampm: true,
                      type: 'time',
                      today: true, 
                      onChange: function (time, text) {
                        var newValue = text;
                      },
                    });
                  </script>
              
            </div>
            <div class='otherss'>
              <div class="ui calendar"  id="day">
                <input  class="ui basic button" name="day" autocomplete='off' placeholder='Date' style="width: 154.5px;" id="taskdate"></input>
              </div>

                <script>
                  const day_options = { 
                      day: 'numeric', 
                  };  
                  daydisplay = new Date().toLocaleDateString('en-US', day_options);
                  const month_options = { 
                      month: 'long', 
                  };  
                  monthdisplay = new Date().toLocaleDateString('en-US', month_options);
                  const year_option = { 
                      year: 'numeric',
                  };  
                  yeardisplay = new Date().toLocaleDateString('en-US', year_option);
                  less = monthdisplay + ", " + daydisplay + " " + yeardisplay
                  var today = new Date();
                  $('#day').calendar({
                    type: 'date',
                    today: true,
                    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()) 
                  });
                </script>

            </div>
             
              <a class="circular ui basic icon button" style='float:right;flex-wrap: wrap; margin:0.5;'>
                <i class="icon alarm"></i>
              </a>
              <a class="circular ui basic icon button" style='float:right;flex-wrap: wrap; margin:0.25;'>
                <i class="icon inbox"></i>
              </a>
            </div>
            </div>
            <div>
              <br>
              <div class="ui olive message" style="display:none;" id="successAlert">
                <div class="header">
                </div>
              </div>
              <div class="ui negative message" style="display:none;" id="errorAlert">
                <div class="header">
                </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <a class="ui brown button" href='/today'>Back</a>
            <button type="submit" class="ui yellow button">Add Task</button>
          </div>
        </form>
  </div>
    </div>
    <br>
      <span class='otherss'>
        <a class="circular ui tiny basic icon button" id="taskbuttton" style="margin: 0px;">
          <i class="icon plus"></i>
        </a>
    <script>
    
    $('#taskbuttton').click(function(){
    $('#addtaskmodal')
    .modal({
        closable: false
    }).modal('show');
  });
    </script>

      
      </span>
      <h3 style="margin: 4px; display: inline-block;"> Add a task</h3> 
</body>

</html>