<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App - Account Info</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="static/styles/style.css">
    <link href=
    "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
                    rel="stylesheet" />  
</head>
<body> 
    <div class="ui borderless stackable top fixed menu">
        <img src="/static/img/logo.png" style="width: 60px; height: 55px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 0px;" >
        <div class="item">
            <a href="/">
                <div class="ui header" style="font-size: 20px;" >
                Todo App
                </div>
            </a>
        </div>
        <a class="ui header item" style="font-weight: 300; font-size: 16px;" href="/today ">Today</a>
        <a class="ui header item"  style="font-weight: 300; font-size: 16px;" href="/calendar ">Calendar</a>
        <div class="right menu"  style="padding-right: 10px;" >
            <div class="ui secondary simple dropdown item">
            <a style="font-weight: 300; font-size: 16px; color: black;"> ‎ ‎ ‎ ‎ ‎‎‎ {{current_user.name}}  ‎ ‎ ‎ ‎ ‎‎‎</a> 
            <div class="ui simple menu">
                <a class="item"  href='/logout '>Logout</a>
                <a class="item"  href='/userInfo '>Account Info</a>
            </div>
            </div>
        </div>  
    </div>
    <div style="margin-top: 100px;" class="center aligned ui container">
        <h1 class="ui center aligned header" style="font-size: 50px;">Account Info</h1>
        {% for message in get_flashed_messages() %}
        <div class="ui center aligned teal message">
            <i class="close icon"></i>
            <div>
                <h3 style="color: black;">
                    {{message}}
                </h3>
            </div>
            <script>
                $('.message .close')
                    .on('click', function() {
                        $(this)
                        .closest('.message')
                        .transition('fade')
                        ;
                    })
                    ;
            </script>
        </div>
        {% endfor %}
        <hr>
        <div class="ui fluid card">
            <div class="content">
                <div class="ui small feed">
                <div class="event">
                    <div class="content">
                    <div class="summary">
                    <span style="font-size: 16px;">Name:</span> <span style="font-size: 16px;  font-weight: 500;">{{current_user.name}}</span><br>
                    <span style="font-size: 16px;">Email:</span> <span style="font-size: 16px;  font-weight: 500;">{{current_user.email}}</span><br>
                    <span style="font-size: 16px;">Date Joined:</span> <span style="font-size: 16px;  font-weight: 500;">{{current_user.date_added}}</span><br>
                    <span style="font-size: 16px;">Account Id:</span> <span style="font-size: 16px;  font-weight: 500;">{{current_user.id}}</span><br><br>
                    <a class="ui grey button" href="/logout"   >Logout</a>
                    <a class="ui blue button" href="/updateUser/{{current_user.id}}"   >Edit Account Info </a>
                    <a class="ui red button" href="/deleteUser/{{current_user.id}}"   >Delete Account</a><br>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>      
        </div>
        <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
        </script> 
    </div>
</body>

</html>