body {
  justify-content: center;
  align-content: center;
}

#header {
  padding: 10px;
  color: #c17c28;
  font-size: 26px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
}

#container {
  width: 980px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: black;
  padding-top: 10px;
  font-size: 15px;
  padding-left: 150px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
}
.day {
  color: black;
  width: 112px;
  padding: 10px;
  height: 105px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 0px 3px rgb(186, 186, 186);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.day:hover {
  background-color: #fffaf3;
}

.day + #currentDay {
  background-color:#fff0e3;
}

#HasTasks:hover {
  background-color: #fff3f3;
}

.day + #HasTasks {
  color: rgb(245, 0, 0);
}


#compTasks:hover {
  background-color: #eefcef;
}

.day + #compTasks {
  color: rgb(4, 187, 4);
} 

.day + #less {
  color: rgb(0, 0, 0);
  width: 112px;
  padding: 10px;
  height: 105px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(252, 252, 252);
  margin: 0px;
  box-shadow: 0px 0px 3px rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
#header button {
  background-color:#92a1d1;
}
#less:hover {
  background-color: rgb(247, 247, 247);
}
#less {
  color: rgb(0, 0, 0);
  width: 112px;
  padding: 10px;
  height: 105px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(252, 252, 252);
  margin: 0px;
  box-shadow: 0px 0px 3px rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
